/* ============= the styles for modals =============*/

.modal {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  top: 15vh;
  left: 10vw;
  box-shadow: 0 0 7px 0 rgba(103, 103, 103, 0.486);
  width: 80vw;
  height: 70vh;
}
.modal p {
  padding: 2rem;
  line-height: 1.1rem;
}

.btn-shop {
  margin: 0.5rem;
  background-color: black;
  color: white;
}

/* ============= the close button styles =============*/

.close {
  color: #aaa;
  float: right;
  margin-right: 7px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-img {
  float: left;
  height: 70vh;
  margin-right: 20px;
}

/* ============= modal sections hide and show styles =============*/

#modal_book_js,
#modal_book_go,
#modal_book_react {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#modal_book_js:target,
#modal_book_react:target,
#modal_book_go:target {
  visibility: visible;
  opacity: 1;
}
